################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Util/bin
/Util/obj/Debug
/Util/obj/Release
/Model/bin/Debug
/WebApi/bin
/Model/obj/Debug
/WebApi/obj/Debug
/Repository/bin/Debug
/Repository/obj/Debug
