################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Util/bin
/Util/obj/Debug
/Util/obj/Release
